absl-py==2.1.0
astunparse==1.6.3
beautifulsoup4==4.12.3
black==24.4.2
blinker==1.8.2
certifi==2024.6.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
deepface==0.0.92
distlib==0.3.8
facenet-pytorch==2.6.0
filelock==3.14.0
fire==0.6.0
flake8==7.0.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.0
fsspec==2024.6.0
gast==0.5.4
gdown==5.2.0
google-pasta==0.2.0
grpcio==1.64.1
gunicorn==22.0.0
h5py==3.11.0
identify==2.5.36
idna==3.7
importlib-metadata==4.8.1
torch
facenet_pytorch
